<app-slide-menu></app-slide-menu>
<div class="ion-page" id="main-content">
  <app-menu-bar></app-menu-bar>
  <ion-content [fullscreen]="true">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-text color="primary">
              <h1 class="ion-text-center">Recordatorios Creados</h1>
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <mat-accordion>
              <ng-container *ngIf="listaNativeStorage && listaNativeStorage.length > 0; else noRecordatorios">
              </ng-container>
              <ng-template #noRecordatorios>
                <p>No hay recordatorios.</p>
              </ng-template>
              <mat-expansion-panel hideToggle *ngFor="let recordatorio of listaNativeStorage">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Recordatorio {{ recordatorio.id }}
                  </mat-panel-title>
                  <mat-panel-description class="ion-text-center">
                    Click para mas detalles
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ion-card>
                  <ion-card-content>
                    <ion-list>
                      <ion-item>
                        Medicamento: {{ recordatorio.nombreMed }}
                      </ion-item>
                      <ion-item>
                        Cada: {{ recordatorio.tiempoIng }} horas
                      </ion-item>
                      <ion-item>
                        Duración: {{ recordatorio.dias }} días
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card>
              </mat-expansion-panel>            
            </mat-accordion>
            <ion-item-options side="end">
              <ion-item-option color="danger">
              </ion-item-option>
            </ion-item-options>
          </ion-card-content>
          <ion-card-content style="display: flex; justify-content: center;">
            <button [routerLink]="['/add-rec']" class="botonRedondo">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
</div>


