.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

.titulo-perfil {
  font-size: 25px;
  margin: 10px;
}

.texto-perfil {
  font-size: 16px;
  margin: 10px;
}