<app-slide-menu></app-slide-menu>
<div class="ion-page" id="main-content">
  <app-menu-bar></app-menu-bar>
  <ion-content [fullscreen]="true">

    <ion-card color="primary" class="ion-text-center">
      <div class="avatar-container">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>
      <ion-card-header>
        <ion-card-title class="texto-perfil">Username: {{ usuario }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card color="primary" class="ion-text-center">
      <ion-card-header>
        <ion-card-title class="titulo-perfil">Información Personal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle class="texto-perfil">Nombre: {{ nombre }} </ion-card-subtitle>
        <ion-card-subtitle class="texto-perfil">Apellido: {{ apellido }} </ion-card-subtitle>
        <ion-card-subtitle class="texto-perfil">Correo: {{ correo }} </ion-card-subtitle>
        <ion-card-subtitle class="texto-perfil">Celular: {{ celular }} </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>

