<app-slide-menu></app-slide-menu>
<div class="ion-page" id="main-content">
  <app-menu-bar></app-menu-bar>
  <ion-content [fullscreen]="true">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>
              Registro Recordatorios
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <mat-accordion>
              <ng-container *ngIf="recordatorioService.recordatorios.length > 0; else noRecordatorios">
              </ng-container>
              <ng-template #noRecordatorios>
                <p>No hay recordatorios.</p>
              </ng-template>
              
              <mat-expansion-panel hideToggle *ngFor="let recordatorio of recordatorioService.recordatorios; let i = index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Recordatorio {{ numbers[i] }}
                  </mat-panel-title>
                  <mat-panel-description>
                    Click para mas detalles
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{ recordatorio }}</p>
              </mat-expansion-panel>            
            </mat-accordion>
          </ion-card-content>
          <ion-card-content style="display: flex; justify-content: center;">
            <button [routerLink]="['/add-rec']" routerLinkActive="router-link-active"  class="botonRedondo">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Botón para redirigir a Page add-rec -->
    
    
    
    
    
  </ion-content>
</div>


