<!-- Menu bar -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title class="ion-text-center">MediMinder</ion-title>
    <ion-buttons slot="end">
      <button mat-icon-button (click)="toHome()">
        <mat-icon slot="icon-only" name="home">home</mat-icon>
      </button>
      <button mat-icon-button (click)="toNotificaciones()">
        <mat-icon slot="icon-only">notifications</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="toPerfil()" >Mi perfil</button>
        <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
      </mat-menu>
    </ion-buttons>
  </ion-toolbar>
</ion-header>





