<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<ion-header mode="md">
  <ion-toolbar color="primary" style="margin-top: 0; background-color: transparent;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title>MediMinder</ion-title>
    <ion-buttons slot="end">
      <button mat-icon-button (click)="toHome()">
        <mat-icon slot="icon-only" name="home">home</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="toPerfil()" >Mi perfil</button>
        <button mat-menu-item (click)="toNotificaciones()">Notificaciones</button>
        <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
      </mat-menu>
      <ion-button class="favorite-icon">
        <mat-icon slot="icon-only" name="favorite-icon">favorite</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>