<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <!-- Componente menu-bar -->
  <app-menu-bar></app-menu-bar>
  <!-- Contenido -->
  <ion-content [fullscreen]="true">
    <!-- <ion-fab>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-text color="primary">
              <h1 class="ion-text-center">Recordatorio</h1>
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-input [(ngModel)]="nombreMedicamento" label="Medicamento" label-placement="floating" fill="outline" placeholder="Ingrese nombre del medicamento"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Ingrese el tiempo en horas:</ion-label>
                <ion-input type="number" [(ngModel)]="tiempoIngresado"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input [(ngModel)]="dias" type="number" label="Días" label-placement="floating" fill="outline" placeholder="Ingrese nombre del recordatorio"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button (click)="iniciarTemporizador()">Confirmar</ion-button>
                <!-- <p *ngIf="tiempoRestante">Tiempo restante: {{ tiempoRestante }}</p> -->
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                Nombre Medicamento: {{ nombreMedicamento}}
              </ion-col>
              <ion-col>
                Tiempo ingresado: {{ tiempoIngresado }}
              </ion-col>
              <ion-col>
                Duración: {{ dias }}
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        
        
      </ion-col>
    </ion-row>
    
  </ion-content>


