<app-slide-menu></app-slide-menu>
<div class="ion-page" id="main-content">
  <!-- Componente menu-bar -->
  <app-menu-bar></app-menu-bar>
  <!-- Contenido -->
  <ion-content [fullscreen]="true">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-text color="primary">
              <h1 class="ion-text-center">Creación Recordatorio</h1>
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <form #formulario="ngForm" (ngSubmit)="iniciarTemporizador(formulario)">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input #buscador [debounce]="1000" (ionInput)="buscarMedicamento($event)" animated="true" label="Medicamento" label-placement="floating" placeholder="Ingrese medicamento"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-list *ngIf="showSuggestions" fill="outline">
                    <ion-item [button]="true" [detail]="false" *ngFor="let medicamento of medicamentosFiltrados">
                      <ion-label (click)="selectSuggestion(medicamento.nombre)">{{ medicamento.nombre }}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input [(ngModel)]="tiempoIngresado" name="tiempoIngresado" type="number" label="Ingrese el tiempo en horas:" label-placement="floating" fill="outline" required></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input [(ngModel)]="dias" name="dias" type="number" label="Días" label-placement="floating" fill="outline" placeholder="Ingrese nombre del recordatorio" required></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-button type="submit" [disabled]="!formulario.valid">Confirmar</ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
</div>


