#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.ion-card-wrapper {
  display: inline-block;
  width: 100%;
}

.ion-card-wrapper {
  display: inline-block;
  width: 100%;
}

.card-hover {
  transition: transform 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
}

.transparent-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.texto-titulo {
  font-size: 15px;
}

.img-calendar{
  width: 128px;
  height: 128px;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}