

<div class="ion-page" id="main-content">
  <!-- Componente menu-bar -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <app-menu-bar></app-menu-bar>
  <!-- Contenido -->
  <ion-content [fullscreen]="true">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="6" class="ion-text-center">
        <button class="transparent-button" [routerLink]="['/add-rec']">
          <div class="ion-card-wrapper card-hover">
            <ion-card>
              <img class="img-calendar" alt="calendar" src="assets/img/Fondo de png-transparent-line-font-line eliminado.png" />
              <ion-card-header>
                <ion-text color="primary">
                  <h3 class="ion-text-center">Crea tu recordatorio</h3>
                </ion-text>
              </ion-card-header>
            </ion-card>
          </div>
        </button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <button class="transparent-button" [routerLink]="['/list-rec']">
          <div class="ion-card-wrapper card-hover">
            <ion-card>
              <img class="img-calendar" alt="calendar" src="assets/img/Fondo de png-transparent-line-font-line eliminado.png" />
              <ion-card-header>
                <ion-card-title class="texto-titulo">Mis Recordatorios</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-content>
</div>
