<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">MediMinder</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content>
        <!-- Input Usuario -->
        <ion-list>
          <form #myForm="ngForm">
            <ion-card-header class="ion-text-center">
              <ion-title class="titulo-login">Formulario Registro</ion-title>
            </ion-card-header>
            <ion-row>
              <ion-col>
                <ion-input
                  class="usuario"
                  name="nombreUsuario"
                  [(ngModel)]="usuario"
                  (input)="resetearDiv()"
                  type="text"
                  fill="outline"
                  label="Nombre de Usuario"
                  label-placement="floating"
                  pattern="^(?=.*\d)[A-Za-z\d]{6,8}$"
                  placeholder="Ingrese nombre de usuario"
                  helper-text="* Ingrese un nombre de usuario con mínimo 5 caracteres y un máximo de 8, debe tener al menos una letra mayúscula y un dígito."
                  error-text="Por favor, ingrese un nombre de usuario válido."
                  required>
                </ion-input>
              </ion-col>
            </ion-row>
            <!-- Input Nombre -->
            <ion-row>
              <ion-col>
                <ion-input
                  type="text"
                  name="nombre"
                  [(ngModel)]="nombre"
                  (input)="resetearDiv()"
                  fill="outline"
                  label="Nombre"
                  label-placement="floating"
                  placeholder="Ingrese su nombre"
                  pattern="^[A-Za-z]{2,}$"
                  error-text="Ingreso inválido."
                  required>
                </ion-input>
              </ion-col>
            </ion-row>
            <!-- Input Apellido -->
            <ion-row>
              <ion-col>
                <ion-input
                  type="text"
                  name="apellido"
                  [(ngModel)]="apellido"
                  (input)="resetearDiv()"
                  fill="outline"
                  label="Apellido"
                  label-placement="floating"
                  placeholder="Ingrese apellido"
                  pattern="^[A-Za-z]{2,}$"
                  error-text="Ingreso inválido."
                  required>
                </ion-input>
              </ion-col>
            </ion-row>
            <!-- Input Correo -->
            <ion-row>
              <ion-col>
                <ion-input
                  type="text"
                  name="correo"
                  [(ngModel)]="correo"
                  (input)="resetearDiv()"
                  fill="outline"
                  label="Correo Electrónico"
                  label-placement="floating"
                  placeholder="Ingrese su correo"
                  (input)="validarCorreo(correo)"
                  [attr.error-text]="mostrarErrorCorreo ? 'Ingrese un correo válido.' : null"
                  required>
                </ion-input>
              </ion-col>
            </ion-row>
             <!-- Input Número de Celular -->
             <ion-row>
              <ion-col>
                <ion-input
                  id="phone"
                  type="tel"
                  [(ngModel)]="celular"
                  (input)="resetearDiv()"
                  name="celular"
                  fill="outline"
                  label="Celular"
                  label-placement="floating"
                  placeholder="9XXXXXXXX"
                  pattern="[0-9]{9}"
                  maxlength="9"
                  error-text="Ingreso inválido. El número de celular debe tener 9 dígitos."
                  style="flex-grow: 1;"
                  required>
                </ion-input>
              </ion-col>
            </ion-row>
            <!-- Input Contraseña -->
            <ion-row>
              <ion-col>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input
                  type="{{ hidePassword ? 'password' : 'text' }}"
                  name="contraseña"
                  [(ngModel)]="password"
                  (input)="resetearDiv()"
                  placeholder="Ingrese contraseña"
                  helper-text=" * La contraseña debe tener al menos una letra mayúscula, un dígito y un largo mínimo de 8 caracteres y máximo de 15."
                  pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,15}$"
                  error-text="Incluya mayúscula, y un dígito numérico."
                  required>
                </ion-input>
              </ion-col>
              <ion-col style="display: flex; align-items: center; justify-content: flex-end;">
                <div>
                  <ion-buttons slot="end">
                    <ion-button (click)="togglePasswordVisibility('password')" style="vertical-align: middle;">
                      <ion-icon
                        name="{{ hidePassword ? 'eye-off' : 'eye' }}"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </div>
              </ion-col>
            </ion-row>
            <!-- Input Confirmar Contraseña -->
            <ion-row>
              <ion-col>
                <ion-label position="floating">Confirmar Contraseña</ion-label>
                <ion-input
                  type="{{ hidePassword ? 'password' : 'text' }}"
                  name="confirmarContraseña"
                  [(ngModel)]="confPassword"
                  (input)="resetearDiv()"
                  placeholder="Confirmar contraseña"
                  required>
                </ion-input>
              </ion-col>
            </ion-row>
            <!-- Botón Ingresar -->
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col>
                <div class="ion-text-center">
                  <ion-button (click)="confirmar()" mat-raised-button shape="round" color="primary">Confirmar</ion-button>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <div class="msgError" *ngIf="msgErrorPass">
                  Las contraseñas no coinciden.
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <div class="msgError" *ngIf="msgInputVacio">
                  Debe llenar todos los campos.
                </div>
              </ion-col>
            </ion-row>
          </form>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>



